/* Define player sprites */

/* spritesheet height: 576px
spritesheet width: 624px */


.Character {
    width: 52px;
    height: 73px;
    overflow: hidden;
    position: absolute;
    scale: 0.5;
}

.Player1 {
    background-image: url('../img/sprites.png');
    background-position: 0px 0px;
}

.Player2 {
    background-image: url('../img/sprites.png');
    background-position: -156px 0px;
}

.Player3 {
    background-image: url('../img/sprites.png');
    background-position: -312px 0px;
}

.Player4 {
    background-image: url('../img/sprites.png');
    background-position: -468px 0px;
}

/* Define keyframes for animation */
/* Adjust translate values based on the grid dimensions */
@keyframes movedown {
    from {
        transform: translate(0px, -73px);
    }

    to {
        transform: translate(0px, 0px);
    }
}

@keyframes moveleft {
    from {
        transform: translate(-52px, 0px);
    }

    to {
        transform: translate(0px, 0px);
    }
}

@keyframes moveright {
    from {
        transform: translate(52px, 0px);
    }

    to {
        transform: translate(0px, 0px);
    }
}

@keyframes moveup {
    from {
        transform: translate(0px, 73px);
    }

    to {
        transform: translate(0px, 0px);
    }
}

/* Apply animation to player based on direction */
.Characterdown {
    animation: movedown 0.21s steps(3) infinite;
}

.Characterleft {
    animation: moveleft 0.21s steps(3) infinite;
}

.Characterright {
    animation: moveright 0.21s steps(3) infinite;
}

.Characterup {
    animation: moveup 0.21s steps(3) infinite;
}