@tailwind base;
@tailwind components;
@tailwind utilities;

.chatbox,
.scoreboard {
    text-align: center;
    height: 624px;
    width: 210px;
    background-color: #C8C8C8;
}
.game-board {
    outline: 35px solid #C8C8C8;
    border: 3px solid #FFFFFE;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.cell {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #3C7B01;
    box-sizing: border-box;
    margin-bottom: -6px;
}
.cell.indestructible {
    background-color: #C8C8C8;
    border: 3px solid #FFFFFE;
    border-bottom: 3px solid black;
}
#player1 {
  background-image: url('public/images/player1.png'); 
  background-size: cover; 
  width: 50px;
  height: 50px;
}
#player2 {
  background-image: url('public/images/player2.png');
  background-size: cover; 
  width: 50px;
  height: 50px;
}
#player3 {
  background-image: url('public/images/player3.png'); 
  background-size: cover; 
  width: 50px;
  height: 50px;
}
#player4 {
  background-image: url('public/images/player4.png'); 
  background-size: cover; 
  width: 50px;
  height: 50px;
}
.cell.destructible {
  background-image: url('public/images/destructible-wall.png');
  background-size: cover;

}
  
    .textbox-style {
        @apply text-center bg-slate-100 text-slate-700 placeholder-gray-400 border border-amber-200 focus:border-amber-100 rounded py-2 px-4 mb-4 leading-tight focus:outline-none focus:bg-slate-50;
    }
    #gameView {
        @apply flex justify-center items-center min-h-screen m-0
    }




